.poloroid{
  width: 250px;
  height: 325px;
  background: white;
  margin-bottom: 5px;
  overflow: hidden;
  background: url('/images/poloroid.jpg');
  display: inline;
  

  img {
    height: 230px;
    width: 230px;
    margin-left: 10px;
    margin-top: 10px;
    border: 2px solid #000;
    filter: sepia(75%);
  }

  .caption{
    font-family: 'Permanent Marker', cursive;
    margin-left: 10px;
    width: 230px;
    text-align: 'center';
    overflow: hidden;
  }
}
