@import url(http://fonts.googleapis.com/css?family=Permanent+Marker);
/* Space out content a bit */
body {
  padding-top: 20px;
  padding-bottom: 20px;
  background-image: url('/images/background.png');
}
.poloroid {
  width: 250px;
  height: 325px;
  background: white;
  margin-bottom: 5px;
  overflow: hidden;
  background: url('/images/poloroid.jpg');
  display: inline;
}
.poloroid img {
  height: 230px;
  width: 230px;
  margin-left: 10px;
  margin-top: 10px;
  border: 2px solid #000;
  filter: sepia(75%);
}
.poloroid .caption {
  font-family: 'Permanent Marker', cursive;
  margin-left: 10px;
  width: 230px;
  text-align: 'center';
  overflow: hidden;
}
