@import url(http://fonts.googleapis.com/css?family=Permanent+Marker);
.poloroid {
  width: 250px !important;
  height: 325px !important;
  background: white;
  margin-bottom: 5px;
  overflow: hidden;
  position: absolute;
  -webkit-transform: all 5s ease;
  -moz-transform: all 5s ease;
  -o-transform: all 5s ease;
  -ms-transform: all 5s ease;
  transform: all 5s ease;
  -webkit-box-shadow: 2px 0px 10px 0px rgba(50, 50, 50, 0.65);
  -moz-box-shadow: 2px 0px 10px 0px rgba(50, 50, 50, 0.65);
  box-shadow: 2px 0px 10px 0px rgba(50, 50, 50, 0.65);
}
.poloroid:hover {
  -webkit-transform: rotate(-10deg);
  -moz-transform: rotate(-10deg);
  -o-transform: rotate(-10deg);
  -ms-transform: rotate(-10deg);
  transform: rotate(-10deg);
}
.poloroid img {
  height: 230px;
  width: 230px;
  margin-left: 10px;
  margin-top: 10px;
  border: 2px solid #000;
}
.poloroid .caption {
  font-family: 'Permanent Marker', cursive;
  margin-left: 10px;
  width: 230px;
  text-align: 'center';
  overflow: hidden;
}
.profPic {
  width: 90px;
  height: 90px;
}
.profPic img {
  width: 80px;
  height: 80px;
  padding: 5px;
}
ul {
  list-style-type: none;
}
ul li {
  list-style-type: none;
}
.modal-body img {
  display: block;
  margin: auto;
}
.modal-body button {
  margin-right: 2px;
  margin-bottom: 2px;
}
.modal-body .angular-google-map-container {
  margin-top: 5px;
  height: 200px;
}
